<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2019 ICCU - Istituto Centrale per il Catalogo Unico
  
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<web-app version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

   <display-name>SbnMarcWeb</display-name>
   <distributable/>
       <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-jms.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>


    <!--
    To use non XDoclet filters, create a filters.xml file that
    contains the additional filters (eg Sitemesh) and place it in your
    project's merge dir.  Don't include filter-mappings in this file,
    include them in a file called filter-mappings.xml and put that in
    the same directory.
    -->

    <!--
    To use non XDoclet filter-mappings, create a filter-mappings.xml file that
    contains the additional filter-mappings and place it in your
    project's merge dir.
    -->

    <!--
    To use non XDoclet listeners, create a listeners.xml file that
    contains the additional listeners and place it in your
    project's merge dir.
    -->

   <servlet>
      <display-name>SbnMarcTest</display-name>
      <servlet-name>SbnMarcTest</servlet-name>
      <servlet-class>it.finsiel.SbnMarcTest</servlet-class>

   </servlet>
   <servlet>
      <display-name>SbnMarcJMSTest</display-name>
      <servlet-name>SbnMarcJMSTest</servlet-name>
      <servlet-class>it.finsiel.SbnMarcJMSTest</servlet-class>
   </servlet>
   <servlet>
      <display-name>SbnMarcMonitorJMS</display-name>
      <servlet-name>SbnMarcMonitorJMS</servlet-name>
      <servlet-class>it.finsiel.SbnMarcMonitorJMS</servlet-class>
   </servlet>

   <!--
   <servlet>
      <display-name>SbnWebMonitorTest</display-name>
      <servlet-name>SbnWebMonitorTest</servlet-name>
      <servlet-class>it.finsiel.SbnWebMonitorTest</servlet-class>
   </servlet>
  -->
  <!--
  To use non XDoclet servlets, create a servlets.xml file that
  contains the additional servlets (eg Struts) and place it in your
  project's merge dir.  Don't include servlet-mappings in this file,
  include them in a file called servlet-mappings.xml and put that in
  the same directory.
  -->

   <servlet-mapping>
      <servlet-name>SbnMarcTest</servlet-name>
      <url-pattern>/SbnMarcTest</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>SbnMarcJMSTest</servlet-name>
      <url-pattern>/SbnMarcJMSTest</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>SbnMarcMonitorJMS</servlet-name>
      <url-pattern>/SbnMarcMonitorJMS</url-pattern>
   </servlet-mapping>

   <!--
   <servlet-mapping>
      <servlet-name>SbnWebMonitorTest</servlet-name>
      <url-pattern>/SbnWebMonitorTest</url-pattern>
   </servlet-mapping>
   -->

   <!--
   To specify mime mappings, create a file named mime-mappings.xml, put it in your project's mergedir.
   Organize mime-mappings.xml following this DTD slice:

   <!ELEMENT mime-mapping (extension, mime-type)>
   -->

   <!--
   To specify error pages, create a file named error-pages.xml, put it in your project's mergedir.
   Organize error-pages.xml following this DTD slice:

   <!ELEMENT error-page ((error-code | exception-type), location)>
   -->

  <!--
  To add taglibs by xml, create a file called taglibs.xml and place it
  in your merge dir.
  -->

   <!--
   To set up security settings for your web app, create a file named web-security.xml, put it in your project's mergedir.
   Organize web-security.xml following this DTD slice:

   <!ELEMENT security-constraint (display-name?, web-resource-collection+, auth-constraint?, user-data-constraint?)>
   <!ELEMENT web-resource-collection (web-resource-name, description?, url-pattern*, http-method*)>
   <!ELEMENT web-resource-name (#PCDATA)>
   <!ELEMENT url-pattern (#PCDATA)>
   <!ELEMENT http-method (#PCDATA)>
   <!ELEMENT user-data-constraint (description?, transport-guarantee)>
   <!ELEMENT transport-guarantee (#PCDATA)>

   <!ELEMENT login-config (auth-method?, realm-name?, form-login-config?)>
   <!ELEMENT auth-method (#PCDATA)>
   <!ELEMENT realm-name (#PCDATA)>
   <!ELEMENT form-login-config (form-login-page, form-error-page)>
   <!ELEMENT form-login-page (#PCDATA)>
   <!ELEMENT form-error-page (#PCDATA)>
   -->





</web-app>
